<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Tuesday, February 27</h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> </td> </tr>
      <tr> <td>11:00</td> <td>Introduction and Setup</td> </tr>
      <tr> <td>11:30</td> <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a> </td> </tr>
      <tr> <td>1:00</td> <td>Break</td> </tr>
      <tr> <td>1:20</td> <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets cont.</a> </td> </tr>
      <tr> <td>2:00</td> <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a> </td> </tr>
      <tr> <td>3:00</td> <td>Break</td> </tr>	
      <tr> <td>3:15</td> <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning cont.</a> </td> </tr>
      <tr> <td>4:00</td> <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Wednesday, February 28</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td> <td>TBD</td> </tr>
      <tr> <td>11:30</td> <td>TBD</td> </tr>
      <tr> <td>1:00</td> <td>Break</td> </tr>
      <tr> <td>1:20</td> <td>TBD</td> </tr>
      <tr> <td>2:00</td> <td>TBD</td> </tr>
      <tr> <td>3:00</td> <td>Break</td> </tr>	
      <tr> <td>3:15</td> <td>TBD</td> </tr>
      <tr> <td>4:00</td> <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 - Thursday, February 29</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td> <td>TBD</td> </tr>
      <tr> <td>11:30</td> <td>TBD</td> </tr>
      <tr> <td>1:00</td> <td>Break</td> </tr>
      <tr> <td>1:20</td> <td>TBD</td> </tr>
      <tr> <td>2:00</td> <td>TBD</td> </tr>
      <tr> <td>3:00</td> <td>Break</td> </tr>	
      <tr> <td>3:15</td> <td>TBD</td> </tr>
      <tr> <td>4:00</td> <td>End</td> </tr>
    </table>
  </div>	
</div>
